Dockerfile
README.md
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
.env
.env.db
.env.google
.devcontainer
.vscode
env
.venv
*.log

# Git
.git
.gitignore

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

### Python Cache ###
__pycache__/

### Jupyter Notebooks ###
*.ipynb

### Data dirs ###
data/

*.csv
*.zip